<section class="landing-page">
  <h1>Subject: Finance</h1>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
    <app-book fxFlex.lt-md="100" fxFlex.gt-sm="32"></app-book>
  </div>
  <router-outlet></router-outlet>
</section>
