<section
  class="auther-details"
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="30"
>
  <div class="auther-details__image" fxFlex.lt-md="100" fxFlex.gt-md="30">
    <h1>Author Title</h1>
    <img src="assets/images/logo.jpg" alt="" title="" />
  </div>
  <div class="auther-details__description" fxFlex.lt-md="100" fxFlex.gt-md="65">
    <p>Birth Date</p>
    <p>Top Work Of The Author</p>
    <p>Work Count</p>
    <div class="auther-details__description__topics">
      <p>Top Subject Of The Authors (limit to first 5)</p>
      <ul fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10">
        <li>Subject</li>
        <li>Subject</li>
        <li>Subject</li>
        <li>Subject</li>
        <li>Subject</li>
      </ul>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
