<section
  class="book-details"
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="30"
>
  <div class="book-details__image" fxFlex.lt-md="100" fxFlex.gt-md="30">
    <h1>Book Title</h1>
    <img
      src="assets/images/book-composition-with-open-book_23-2147690555.avif"
      alt=""
      title=""
    />
  </div>
  <div class="book-details__description" fxFlex.lt-md="100" fxFlex.gt-md="65">
    <ul>
      <li>First Publish Year</li>
      <li>Book Title</li>
      <li>Authors Name</li>
      <li>Edition Count</li>
      <li>No. Of Pages</li>
    </ul>
    <button>Add / Remove Wishlist</button>
  </div>
</section>
<router-outlet></router-outlet>
