.error-message {
  width: 100%;
  display: block;
  color: red;
  padding: 0 0.5rem;
  font-size: 11px;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Adjust the duration and easing as needed */
}

.error-message.show {
  opacity: 1;
}
